@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("../styles/common/datepicker.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout_select {
  background-image: url("/icons/selectbox_arrow.svg");
  background-size: auto;
}
